plotly
folium
koreanize_matplotlib
streamlit  # 또는 1.25.0, 1.33.0 등 다른 버전으로 시도
streamlit-drawable-canvas==0.9.3
Pillow==10.4.0
numpy==1.26.4
pygame==2.6.0
streamlit==1.39.0
pillow==10.4.0
numpy==1.26.4
requests==2.32.3
pyvirtualdisplay==3.0
psutil==6.0.0
google-generativeai>=0.3.0
protobuf==4.25.1
